<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container F_P">
        <h2 class="title">비밀번호 변경</h2>
        <form class="form-control changePassword row" method="post">
            <div class="row col-10 mt-3">
                <label for="password" class="form-label col-5">새 비밀번호</label>
                <input type="password" class="col-6" name="password" id="password">
            </div>
            <div class="row col-10 mt-3">
                <label for="passwordCheck" class="form-label col-5">비밀번호 확인</label>
                <input type="password" class="col-6" name="passwordCheck" id="passwordCheck">
            </div>
            <div class="mt-4">
                <button class="btn btn-dark" id="btnChangePassword">변경하기</button>
            </div>
        </form>
    </div>
</div>
</html>