<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container d-flex justify-content-center">
        <form class="col-auto join" th:action="@{/auth/join}" method="post" th:object="${joinDto}">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
            <div class="col-8">
                <h2>회원가입</h2>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="userId" class="col-form-label">아이디</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="userId" id="userId" class="form-control" th:field="*{userId}"
                        placeholder="아이디는 8~20 글자로 입력해주세요.">
                        <p class="error" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" id="btnIdCheck">중복확인</button>
                    </div>
                    <div class="col-auto">
                    <span id="messageId"></span>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="password" class="col-form-label">비밀번호</label>
                    </div>
                    <div class="col-8">
                        <input type="password" name="password" id="password" class="form-control" th:field="*{password}"
                        placeholder="비밀번호는 영문,숫자,특수문자를 조합하여 8~20글자로 입력해주세요.">
                        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="passwordCheck" class="col-form-label">비밀번호 확인</label>
                    </div>
                    <div class="col-8">
                        <input type="password" name="password" id="passwordCheck" class="form-control">
                        <span id="confirm"></span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" id="pwdCheck">비밀번호 확인</button>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="userName" class="col-form-label">이름</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="userName" id="userName" class="form-control" th:field="*{userName}">
                        <p class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="nickName" class="col-form-label">닉네임</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="nickName" id="nickName" class="form-control" th:field="*{nickName}">
                        <p class="error" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></p>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="rrnFront" class="col-form-label">주민등록번호</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="rrnFront" id="rrnFront" class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="rrnBack" class="col-form-label">-</label>
                    </div>
                    <div class="col-1">
                        <input type="text" name="rrnBack" id="rrnBack" class="form-control">
                    </div>
                    <div class="col-1">
                        <span>XXXXXX</span>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="email" class="col-form-label">이메일</label>
                    </div>
                    <div class="col-8">
                        <input type="email" name="email" id="email" class="form-control"
                        placeholder="example@test.com">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit" id="btnEmailCheck">중복확인</button>
                    </div>
                    <div class="col-auto">
                        <span id="messageEmail"></span>
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-auto">
                        <label for="phoneNumber" class="col-form-label">H.P</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="phoneNumber" id="phoneNumber" class="form-control"
                        placeholder="010-0000-0000">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-dark" id="btnJoin" disabled>가입하기</button>
                </div>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");
        const name = $("#userName").val();
        // csrf 토큰 설정

        let idCheck = 0; // 아이디 중복체크 결과 -> 중복이면 0, 아니면 1
        let emailCheck = 0; // 이메일 중복체크 결과 -> 중복이면 0, 아니면 1
        $("#btnIdCheck").on("click",function (e) {
            console.log("아아디 중복체크");
            e.preventDefault(); // form 안에 버튼이라 submit 되는거 방지
            const inputId = $("#userId").val(); // 아이디 입력란에 입력되는 값
            if(inputId === null || inputId === "") {
                console.log("djkjfkjdskfjd");
                $("#messageId").text("아이디는 필수 입력사항입니다.");
                $("#messageId").addClass("invalid").removeClass("valid");
                $("#userId").focus();
                return false;
            }
            $.ajax({
                url: "/auth/idCheck",
                data: {
                    dupId : inputId // 입력된 값을 dupId 변수에 담기
                },
                success: function (data) {
                    console.log(data);
                    if (data === 1) {
                        $("#messageId").text("이미 사용중인 아이디입니다.");
                        $("#messageId").addClass("invalid").removeClass("valid");
                        $("#userId").focus();
                        idCheck = 0;
                        // 아이디가 중복되었을 때, 처리
                    } else {
                        $("#messageId").text("사용가능한 아이디입니다.");
                        $("#messageId").addClass("valid").removeClass("invalid");
                        $("#password").focus();
                        idCheck = 1;
                        // 아이디가 중복되지 않았을 때, 처리
                    }
                    if(idCheck === 1 && emailCheck === 1) {
                        $("#btnJoin").removeAttr("disabled"); // 아이디와 이메일이 중복이 아닐 때만 가입 활성화
                    }
                },
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
        });
        $("#btnEmailCheck").on("click",function (e) {
            console.log("이메일 중복체크");
            e.preventDefault();
            const inputEmail = $("#email").val(); // 이메일 입력란에 입력되는 값
            $.ajax({
                url: "/auth/emailCheck",
                data: {
                    dupEmail : inputEmail // 입력된 값을 dupEmail 변수에 담기
                },
                success: function (data) {
                    console.log(data);
                    if(inputEmail === null || inputEmail === "") {
                        $("#messageEmail").text("이메일은 필수 입력사항입니다.");
                        $("#messageEmail").addClass("invalid").removeClass("valid");
                        $("#email").focus();
                    }
                    else if(data === 1) {
                        $("#messageEmail").text("이미 사용중인 이메일입니다.");
                        $("#messageEmail").addClass("invalid").removeClass("valid");
                        $("#email").focus();
                        emailCheck = 0;
                        // 이메일이 중복되었을 때, 처리
                    }else {
                        $("#messageEmail").text("사용가능한 이메일입니다.");
                        $("#messageEmail").addClass("valid").removeClass("invalid");
                        $("#email").focus();
                        emailCheck = 1;
                        // 이메일이 중복되지 않았을 때, 처리
                    }
                    if(idCheck === 1 && emailCheck === 1) {
                        $("#btnJoin").removeAttr("disabled"); // 아이디와 이메일이 중복이 아닐 때만 가입 활성화
                    }
                }
            })
        });
        $("#pwdCheck").on("click",function (e) {
            console.log("비밀번호 확인");
            e.preventDefault();
            let firstPW = $("#password").val();
            const pwdCheck = $("#passwordCheck").val();
            $.ajax({
                url: "/auth/passwordCheck",
                data: {
                    secondPw : pwdCheck
                },
                success:function (data) {
                    console.log(data);
                    if(firstPW !== pwdCheck) {
                        $("#confirm").text("비밀번호가 일치하지 않습니다.");
                        $("#confirm").addClass("invalid").removeClass("valid");
                        $("#passwordCheck").focus();
                    } else {
                        $("#confirm").text("비밀번호가 일치합니다.")
                        $("#confirm").addClass("valid").removeClass("invalid");
                    }
                }
            })
        });
    </script>
</div>
</html>