<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div id="chapterNavbar" class="navbar fixed-top">
        <button id="prevChapter" class="btn btn-outline-primary">
            <i class="bi bi-arrow-left" style="font-size: x-large"></i> 이전화
        </button>
        <button id="nextChapter" class="btn btn-outline-primary">
            다음화 <i class="bi bi-arrow-right" style="font-size: x-large"></i>
        </button>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <h1><a class="custom-link" id="chapter-title" th:href="@{|/book/library/${chapterDetailDto.bookId}?order=DESC|}" th:text="${chapterDetailDto.title}"></a></h1>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div>
                            <i class="bi bi-calendar3"></i>
                            <span id="chapter-createdAt" th:text="${chapterDetailDto.createdAt}"></span>
                        </div>
                    </div>
                    <div>
                        <i class="bi bi-eye"></i>
                        <span id="chapter-hits" th:text="${chapterDetailDto.hits}"></span>
                    </div>
                </div>
                <div class="mt-5" id="chapter-contents" th:text="${chapterDetailDto.contents}"></div>
            </div>
        </div>
        <div class="border-bottom border-opacity-25 mt-5 mb-5"></div>
        <a class="btn-sort-desc active">
            최신순
        </a>
        <a class="btn-sort">
            전체 댓글
        </a>
        <div class="review-list mt-5">
            <ul id="review">
            </ul>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary mt-5 btn-more">더보기</button>
            </div>
        </div>
        <div class="mb-3 comment-box">
            <label for="commentText"></label>
            <textarea class="form-control" id="commentText" rows="3"></textarea>
            <button class="btn btn-outline-primary btn-comment mt-2">comment</button>
        </div>

    </div>
    <script th:inline="javascript">
        const loggedId = [[${#authentication.principal.loggedMember.id}]];
        const bookId = [[${chapterDetailDto.bookId}]];
        const CHAPTER_NAVBAR = '#chapterNavbar';
        const REVIEW_LIST = '#review';
        const COMMENT_TEXT = '#commentText';

        let chapterId = [[${chapterDetailDto.chapterId}]];
        let loadPage = 0;
        let totalPages = 0;
        let sort = 'desc'
        let navbarVisible = false;

        loadReviewList(chapterId, loadPage)

        function loadReviewList(chapterId, loadPage) {
            $.ajax({
                type: 'GET',
                url: '/api/chapter/'+chapterId+`/review?page=${loadPage}&sort=createdAt,${sort}`,
                success: function (response) {
                    console.log(response);

                    totalPages = response.totalPages;
                    let reviewUl = $(REVIEW_LIST);

                    // 댓글 목록 추가
                    for (let review of response.content) {
                        let reviewItem = $(reviewToHtml(review));
                        reviewUl.append(reviewItem);
                    }

                    if(response.last){
                        $('.btn-more').hide();
                    }

                },
                error: function (){
                    alert('리뷰 목록을 불러오는데 실패했습니다.');
                }
            })
        }

        $('.btn-comment').click(function () {
            let commentText = $(COMMENT_TEXT).val().trim();
            if (!commentText) {
                alert('댓글을 입력해주세요.');
                return;
            }
            // HTML 태그를 이스케이프
            commentText = encodeURIComponent(commentText);
            let sendData = {
                comments: commentText
            };
            console.log(sendData);
            $.ajax({
                type: 'POST',
                url: '/api/chapter/'+chapterId+'/review',
                data: sendData,
                success: function (response) {
                    console.log(response);
                    $(COMMENT_TEXT).val(''); // 댓글 입력창 비우기
                    let reviewUl = $(REVIEW_LIST);
                    reviewUl.empty(); // 댓글 목록 초기화
                    loadPage = 0;
                    loadReviewList(chapterId, 0); // 댓글 목록 다시 불러오기
                    $('.btn-more').show(); // 더보기 버튼 보이기
                },
                error: function () {
                    alert('댓글 작성에 실패했습니다.');
                }
            })
        });

        $('.btn-sort, .btn-sort-desc').click(function () {
            // 모든 버튼에서 'active' 클래스 제거
            $('.btn-sort, .btn-sort-desc').removeClass('active');

            // 클릭된 버튼에 'active' 클래스 추가
            $(this).addClass('active');

            // 클릭된 버튼에 따라 정렬 방식 설정
            sort = $(this).hasClass('btn-sort') ? 'asc' : 'desc';

            // 페이지 번호 초기화 및 댓글 목록 업데이트
            loadPage = 0;
            let reviewUl = $(REVIEW_LIST);
            reviewUl.empty();
            loadReviewList(chapterId, loadPage);
        });

        $(".btn-more").on("click", function () {
            loadPage++;
            loadReviewList(chapterId, loadPage);
        });

        function reviewToHtml(review) {
            let deleteButton = '';
            if (review.memberId === loggedId) {
                deleteButton = '<button class="delete-review mt-2" data-id="'+review.id+'"><i class="bi bi-x-lg"></i></button>';
            }
            let li = document.createElement('li');
            li.className = "review-item border-bottom border-opacity-25 mt-2 mb-2";
            li.innerHTML = `
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <span class="mt-2 me-2" style="font-weight: bold">${review.nickname}</span>
                        <span class="mt-1"></span>
                        <span class="mb-3" style="font-weight: lighter; color: #4d5154; font-size: small">${review.createdAt}</span>
                    </div>
                    <div>
                        ${deleteButton}
                    </div>
                </div>
            `;
            li.querySelector('.mt-1').innerText = decodeURIComponent(review.comments);
            return li.outerHTML;
        }

        $(document).on('click', '.delete-review', function() {
            let reviewId = $(this).data('id');
            console.log(reviewId)
            if (confirm('댓글을 삭제하시겠습니까?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/review/' + reviewId,
                    success: function() {
                        let reviewUl = $(REVIEW_LIST);
                        reviewUl.empty();
                        loadReviewList(chapterId, 0);
                    },
                    error: function() {
                        alert('댓글 삭제에 실패했습니다.');
                    }
                });
            }
        });

        function moveChapter(chapterId, apiUrl) {
            $.ajax({
                type: 'GET',
                url: apiUrl,
                success: function (response) {
                    console.log(response);
                    updateChapterDetails(response);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        alert('해당 장이 없습니다.');
                    } else {
                        alert('장을 불러오는데 실패했습니다.');
                    }
                }
            });
        }

        $('#nextChapter').click(function () {
            if (chapterId === undefined) {
                alert("목록으로 이동 후 다시 시도해주세요.")
                return;
            }
            moveChapter(chapterId, '/api/book/'+bookId+'/chapter/'+chapterId+'/next');
        });

        $('#prevChapter').click(function () {
            if (chapterId === undefined) {
                alert("목록으로 이동 후 다시 시도해주세요.")
                return;
            }
            moveChapter(chapterId, '/api/book/'+bookId+'/chapter/'+chapterId+'/prev');
        });

        function updateChapterDetails(response) {
            let chapterTitle = $('#chapter-title');
            chapterTitle.text(response.title);
            chapterTitle.attr('href', '/book/library/' + response.bookId + '?order=DESC');
            $('#chapter-createdAt').text(response.createdAt);
            $('#chapter-hits').text(response.hits);
            $('#chapter-contents').text(response.contents);

            chapterId = response.chapterId;
            chapterDetailDto = response;

            $('.btn-sort, .btn-sort-desc').removeClass('active');
            $('.btn-sort-desc').addClass('active');
            sort = 'desc';

            // 리뷰 목록 업데이트
            let reviewUl = $('#review');
            reviewUl.empty();
            loadReviewList(chapterId, 0);

            // 브라우저의 주소창 업데이트
            window.history.pushState({}, '', '/chapter/read/' + chapterId);

            $('#chapterNavbar').show();
            navbarVisible = true;
            setTimeout(function() {
                $('#chapterNavbar').hide();
                navbarVisible = false;
            }, 3000);
        }

        // 뒤로 가기 이벤트 핸들러 설정
        window.onpopstate = function(event) {
            location.reload();
        };

        $(document).ready(function() {
            // 페이지가 로드되면 네비게이션바를 표시
            $(CHAPTER_NAVBAR).show();
            navbarVisible = true;

            // 3초 후에 네비게이션바를 숨김
            setTimeout(function() {
                $(CHAPTER_NAVBAR).hide();
                navbarVisible = false;
            }, 3000);
        });

        $(document).click(function(event) {
            // 클릭한 요소가 네비게이션바, 아닐 경우
            if (!$(event.target).closest('.navbar, .btn-comment, #commentText, .btn-sort, .btn-sort-desc').length) {
                if (navbarVisible) {
                    // 네비게이션바 숨기기
                    $(CHAPTER_NAVBAR).hide();
                    navbarVisible = false;
                } else {
                    // 네비게이션바 보이기
                    $(CHAPTER_NAVBAR).show();
                    navbarVisible = true;
                }
            }
        });
    </script>

</content>
</body>
</html>
