<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div class="container justify-content-center d-flex" >
        <div class="col-8">
            <h1>회차 쓰기</h1>
            <form method="post" th:action="@{|/chapter/write/${bookId}|}" th:object="${chapterUploadDto}">
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input type="text" class="form-control" id="title" name="title" th:field="*{title}" placeholder="제목을 입력하세요">
                </div>
                <div class="mb-3">
                    <label for="contents" class="form-label"></label>
                    <textarea class="form-control" id="contents" name="contents" rows="10" th:field="*{contents}" placeholder="내용을 입력하세요"></textarea>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">가격 설정</label>
                    <select class="form-select" id="price" name="price" th:field="*{price}">
                        <option value="0">무료</option>
                        <option value="1">유료</option>
                    </select>
                </div>
                <input type="hidden" id="bookId" name="bookId" th:value="${bookId}">
                <div class="mt-5 d-grid">
                    <button class="btn btn-primary" type="submit">작성</button>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {
            let bookId = $('#bookId').val(); // 숨겨진 입력 필드에서 bookId 값을 읽습니다.
            $.ajax({
                url: '/api/checkAccess/' + bookId,
                type: 'GET',
                success: function(response) {
                },
                error: function(jqXHR) {
                    if (jqXHR.status === 403) {
                        alert(jqXHR.responseText); // 서버에서 보낸 메시지를 경고문으로 띄웁니다.
                        window.history.back();

                    }
                }
            });
        });


        document.querySelector('form').addEventListener('submit', function(event) {
            const title = document.getElementById('title').value;
            const contents = document.getElementById('contents').value;
            const price = document.getElementById('price').value;

            // 유효성 검사
            if (!title || title.length < 1 || title.length > 30) {
                alert('제목은 1자 이상 30자 이내로 입력하세요');
                event.preventDefault();
                return;
            }

            if (!contents) {
                alert('내용을 입력하세요');
                event.preventDefault();
                return;
            }

            if (price !== '0' && price !== '1') {
                alert('가격 설정이 잘못되었습니다');
                event.preventDefault();
                return;
            }

            // 모든 유효성 검사를 통과하면 폼 제출
        });
    </script>
</content>
</body>
</html>