<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container justify-content-center d-flex">
        <!-- 소설(텍스트) 작성 -->
        <div class="col-8">
            <h2>새 작품 쓰기</h2>
            <form method="post" action="/book/write" enctype="multipart/form-data" th:object="${bookUploadDto}">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input class="form-control" type="text" id="title" name="bookName" placeholder="제목" th:field="*{bookName}" th:maxlength="30">
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="genre" class="form-label">장르</label>
                        <select class="form-select" id="genre" name="bookGenre" th:field="*{bookGenre}">
                            <option value="">장르선택</option>
                            <option value="fantasy">판타지</option>
                            <option value="romance">로맨스</option>
                            <option value="orientalFantasy">무협</option>
                            <option value="detective">추리</option>
                            <option value="horror">공포</option>
                            <option value="SF">SF</option>
                            <option value="etc">기타</option>
                        </select>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookGenre')}" th:errors="*{bookGenre}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">표지 이미지</label>
                        <input class="form-control" type="file" id="file" name="bookImage" th:field="*{bookImage}">
                        <div class="form-text text-danger" th:text="${imageError}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="content" class="form-label">작품 소개</label>
                        <textarea class="form-control" id="content" name="bookIntro" rows="10" th:field="*{bookIntro}" th:maxlength="800"></textarea>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bookIntro')}" th:errors="*{bookIntro}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="ageRating" class="form-label">작품 나이 제한 설정</label>
                        <select class="form-select" id="ageRating" name="ageRating" th:field="*{ageRating}">
                            <option value="">나이 제한 설정</option>
                            <option value="0">전체 이용가</option>
                            <option value="12">12세 이용가</option>
                            <option value="15">15세 이용가</option>
                            <option value="19">19세 이용가</option>
                        </select>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}"></div>
                    </div>

                </div>

                <div class="mt-5 d-grid">
                    <button class="btn btn-primary">저장</button>
                </div>

            </form>
        </div>
    </div>
</div>
</html>