<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div class="main">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">subject</th>
                <td th:text="${notice.subject}"></td>
                <th scope="row">hit</th>
                <td th:text="${notice.hit}"></td>
            </tr>
            <tr>
                <th scope="row">writer</th>
                <td th:text="${notice.member_id}"></td>
                <th>date</th>
                <td th:text="${notice.createDate}"></td>
            </tr>
            <tr>
                <th scope="row">content</th>
                <td colspan="3">
                    <div th:text="${notice.content}" style="min-height: 300px"></div>
                </td>
            </tr>
            <tr th:if="${notice.fileAttached == 1}">
                <th scope="row">image</th>
                <td th:each="fileName: ${notice.copyFileName}">
                    <img th:src="@{|/upload/${fileName}|}" alt="">
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="mt-5 d-flex justify-content-center">
        <button onclick="listReq()" class="btn btn-dark text-light">목록</button>
        <div sec:authorize="hasRole('ADMIN')">
            <button onclick="modifyReq()" class="btn btn-dark text-light">수정</button>
            <button onclick="deleteReq()" th:attr="data-notice-id=${notice.id}" class="btn btn-dark text-light">삭제</button>
        </div>
    </div>


    <!-- 댓글 컨테이너 -->
    <div class="comment-container">
        <!-- 댓글 리스트  중복 생성 부분으로 제거. api를 통해서 가져옴  -->

        <!-- 댓글 작성 폼 -->
        <div class="comment-form">
            <textarea placeholder="댓글을 입력하세요" id="commentContent"></textarea>
            <button id="comment-write-btn" onclick="commentWrite()">댓글 작성</button>
        </div>
    </div>


    <script th:inline="javascript">

        $(document).ready(function() {
            // 페이지 로드 시 서버로부터 댓글 목록을 가져오는 함수
            fetchCommentsAndUpdate();
            function fetchCommentsAndUpdate() {
                $.ajax({
                    type: "GET",
                    url: "/notice/comment/list", // 서버의 댓글 목록 API 경로
                    data: {
                        "noticeId": [[${notice.id}]] // 현재 게시글 ID
                    },
                    success: function (comments) {
                        updateCommentList(comments);
                    },
                    error: function (err) {
                        console.log("댓글 목록 가져오기 실패", err);
                    }
                });
            }
        });

        const commentWrite = () => {
            const content = document.getElementById("commentContent").value;
            const id = [[${notice.id}]];

            $.ajax({
                type: "post",
                url: "/notice/comment/write",
                data: {
                    "commentContent": content,
                    "noticeId": id
                },
                success: function (res) {
                    console.log("요청성공", res);
                    updateCommentList(res);

                    document.getElementById('commentContent').value = '';
                },
                error: function (err) {
                    console.log("요청 실패", err);
                }
            });
        }

        // 댓글 목록을 업데이트하는 함수 정의
        const updateCommentList = (comments) => {
            let commentList = document.querySelector('.comment-list');
            if (!commentList) {
                commentList = document.createElement('div');
                commentList.className = 'comment-list';
                document.querySelector('.comment-container').appendChild(commentList);
            }

            commentList.innerHTML = "";

            comments.forEach(comment => {
                let commentDiv = document.createElement('div');
                commentDiv.className = 'comment';

                let authorSpan = document.createElement('span');
                authorSpan.className = 'comment-author';
                authorSpan.innerText = comment.commentWriter;

                let contentP = document.createElement('p');
                contentP.className = 'comment-content';
                contentP.innerText = comment.commentContent;

                let dateSpan = document.createElement('span');
                dateSpan.className = 'comment-date';
                dateSpan.innerText = comment.commentCreateDate;


                // let deleteBtn = document.createElement('button');
                // deleteBtn.className = 'btn btn-danger btn-sm';
                // deleteBtn.innerText = '삭제';
                // deleteBtn.onclick = function() {
                //     deleteComment(comment.id, comment.noticeId);
                // };

                commentDiv.appendChild(authorSpan);
                commentDiv.appendChild(contentP);
                commentDiv.appendChild(dateSpan);
                // commentDiv.appendChild(deleteBtn);

                // 삭제 버튼을 조건부로 추가 서버에서 전달 받은 canDelete 값으로 true이면 활성화 한다.
                if (comment.canDelete) {
                    let deleteBtn = document.createElement('button');
                    deleteBtn.className = 'btn btn-danger btn-sm';
                    deleteBtn.innerText = '삭제';
                    deleteBtn.onclick = function() {
                        deleteComment(comment.id, comment.noticeId);
                    };
                    commentDiv.appendChild(deleteBtn);
                }
                commentList.appendChild(commentDiv);
            });
        }



        // 스크립트 태그 내에 추가
        const deleteComment = (commentId, noticeId) => {
            if (confirm('댓글을 삭제하시겠습니까?')) {
                $.ajax({
                    type: "delete",
                    url: "/notice/comment/delete",
                    data: {
                        "commentId": commentId,
                        "noticeId": noticeId
                    },
                    success: function (res) {
                        console.log("댓글 삭제 성공", res);
                        // 댓글 목록 갱신
                        updateCommentList(res);
                    },
                    error: function (err) {
                        console.log("댓글 삭제 실패", err);
                    }
                });
            }
        }

        const listReq = () => {
            console.log("목록 요청");
            const page = [[${currentPage}]] || 1; // 페이지 번호가 없는 경우 기본 값으로 1을 사용
            location.href = "/notice/list?page=" + (page - 1);
        }
        const modifyReq = () => {
            console.log("수정 요청");
            const id = [[${notice.id}]];
            location.href = "/notice/modify/" + id;
        }
        const deleteReq = () => {
            console.log("삭제 요청");
            const noticeId = document.querySelector('[data-notice-id]').getAttribute('data-notice-id');
            if (confirm('글을 삭제하시겠습니까?')) {
                location.href = "/notice/delete/" + noticeId;
            }
        }
    </script>
</div>
</content>
</body>
</html>

