<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div class="container">
        <h2 class="title">내 정보</h2>
        <table class="table memberInfo">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 30%">
                <col style="width: 25%">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">닉네임</th>
                <th scope="col">이메일</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tr>
                <td th:text="${getMemberInfo.userId}"></td>
                <td th:text="${getMemberInfo.userName}"></td>
                <td th:text="${getMemberInfo.nickname}"></td>
                <td th:text="${getMemberInfo.email}"></td>
                <td th:text="${getMemberInfo.phoneNumber}"></td>
            </tr>
        </table>
        <div class="d-flex justify-content-center mt-5">
            <a class="btn btn-dark"
                    th:href="@{/member/modify/{id}(id=${#authentication.principal.loggedMember.id})}">
                    정보수정
            </a>
        </div>
    </div>
</div>
</content>
</body>
</html>