<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <div class="d-flex mt-2 mb-2 align-items-flex-end" style="position: relative;">
            <img style="width: 200px; height: 276px" class="mx-3 rounded border border-opacity-25" src="/images/book.png" alt="" th:src="@{|/upload/${bookInfo.bookImage}|}">
            <div class="d-flex flex-column mx-3" style="height: 100%;">
                <h3 class="mt-2" th:text="${bookInfo.bookName}"></h3>
                <div style="font-size: small; color: gray; font-weight: lighter;">
                    <span th:text="'구독 ' + ${bookInfo.subscribeCount}"></span>
                </div>
                <div class="info-bottom" style="position: absolute; bottom: 0;">
                    <p class="mt-2" style="color: #4d5154; font-size: x-small; word-wrap: break-word; overflow-wrap: break-word; word-break: break-all;" th:text="${bookInfo.bookIntro}"></p>
                    <a th:href="@{|/chapter/write/${bookInfo.id}|}" style="min-width: 100px; max-width: 200px;" class="btn btn-outline-primary">회차 쓰기</a>
                </div>
            </div>
        </div>
        <div class="chapter-list border-top">
            <h3 class="mt-2 pt-3 pb-3" th:text="'회차 ('+${bookInfo.chapterList.size()}+')'"></h3>
            <ul>
                <th:block th:each="item:${bookInfo.chapterList}">
                    <li class="mt-2 mb-2">
                        <a th:href="@{|/chapter/read/${item.id}|}" th:text="${item.title}" class="subj"></a>
                        <div class="d-flex mt-2 border-bottom border-opacity-25" style="font-weight: lighter; color: #4d5154">
                            <span class="pe-3" th:text="'조회 ' + ${item.hits}"></span>
                            <span class="pe-3 mb-2" th:text="${item.createdAt}"></span>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
</html>
