<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <div class="border-bottom pt-2 pb-2">
            <a href="/member/myBookList" class="btn btn-outline-primary">내 작품</a>
            <a href="/member/myBookmark" class="btn btn-outline-primary">책갈피</a>
            <a href="/member/myInterest" class="btn btn-outline-primary">관심작품</a>
            <a id="myRecent" class="btn btn-outline-primary">최근 본 작품</a>
        </div>
        <div class="book-list">
            <ul>
                <th:block th:each="item:${myBookList}">
                    <li class="pt-2 pb-2 mt-2 mb-2 border border-opacity-25 book-item">
                        <a th:href="@{|/member/myBookList/${item.id}|}" class="subj">
                            <div class="d-flex align-items-center">
                                <div class="mx-3">
                                    <img style="width: 150px; height: 120px" class="rounded" th:src="${item.bookImage.startsWith('/images/') ? item.bookImage : '/upload/' + item.bookImage}" alt="">
                                </div>
                                <div style="max-width: 100%; vertical-align: middle">
                                    <p style="font-weight: bold; color: black; margin-bottom: 5px" th:text="${item.bookName}"></p>
                                    <p style="color: #4d5154" th:text="${item.nickname}"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </th:block>
            </ul>
            <div>
                <button class="btn btn-outline-primary mt-5 btn-more">더보기</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const memberId = [[${#authentication.principal.loggedMember.id}]];
        let loadPage = 0;
        let totalPages = [[${myBookList.totalPages}]];
        let sort = 'desc'
        let $btnMore = $(".btn-more"); // jQuery selector 중복 방지

        function loadBooks(url) {
            $.ajax({
                type: 'GET',
                url: url,
                success: function(response) {
                    console.log(response);

                    totalPages = response.totalPages;
                    let bookListUl = $('.book-list ul');

                    // 책 목록 추가
                    for (let book of response.content) {
                        bookListUl.append(bookToHtml(book));
                    }
                },
                error: function() {
                    alert('책 목록을 불러오는데 실패했습니다.');
                }
            })
        }

        function loadMoreBooks(loadFunction) {
            if(loadPage>=totalPages) {
                $btnMore.hide();
            } else {
                loadPage++; // 페이지 번호 증가
                loadFunction(memberId, loadPage);
            }
        }

        $btnMore.on("click", function () {
            loadMoreBooks(function(memberId, loadPage) {
                loadBooks(`/api/book/${memberId}/bookList?page=${loadPage}&sort=createdAt,${sort}`, memberId, loadPage);
            });
        });


        $("#myRecent").on("click", function () {
            // 작품 목록 비우기
            $('.book-list ul').empty();
            // 페이지 번호 초기화
            loadPage = 0;
            // 더보기 버튼 이벤트 변경
            $btnMore.off("click").on("click", function () {
                loadMoreBooks(function(memberId, loadPage) {
                    loadBooks(`/api/book/myRecent?page=${loadPage}&sort=updatedAt,${sort}`, memberId, loadPage);
                });
            });
            loadBooks(`/api/book/myRecent?page=${loadPage}&sort=updatedAt,${sort}`, memberId, loadPage);
        });

        function bookToHtml(book) {
            let imageUrl = book.bookImage.startsWith("/images/") ? book.bookImage : "/upload/" + book.bookImage;

            return `
                <li class="pt-2 pb-2 mt-2 mb-2 border border-opacity-25 book-item">
                    <a href="/member/myBookList/${book.id}" class="subj">
                        <div class="d-flex align-items-center">
                            <div class="mx-3"><img style="width: 150px; height: 120px" class="rounded" src="${imageUrl}" alt=""></div>
                            <div style="max-width: 100%; vertical-align: middle">
                                <p style="font-weight: bold; color: black; margin-bottom: 5px">${book.bookName}</p>
                                <p style="color: #4d5154">${book.nickname}</p>
                            </div>
                        </div>
                    </a>
                </li>
            `;
        }
    </script>
</div>
</html>


