<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body th:replace="layout/layout :: content(~{::content})">
<content>
    <div class="container">
        <h1>서비스를 제공할 수 없습니다.</h1>
        <h2 th:text="${errorMessage}"></h2>
        <ul class="mt-3">
            <li><a class="btn btn-outline-dark mb-2" href="/">홈으로 돌아가기</a></li>
            <li><a class="btn btn-outline-dark" href="javascript:history.back()">이전 페이지로 돌아가기</a></li>
        </ul>
    </div>
</content>
</body>
</html>